[@redhat-cloud-services/compliance-client](../README.md) / [Exports](../modules.md) / TestResult

# Interface: TestResult

**`Export`**

TestResult

## Table of contents

### Properties

- [compliant](TestResult.md#compliant)
- [display\_name](TestResult.md#display_name)
- [failed\_rule\_count](TestResult.md#failed_rule_count)
- [groups](TestResult.md#groups)
- [id](TestResult.md#id)
- [last\_scanned](TestResult.md#last_scanned)
- [os\_major\_version](TestResult.md#os_major_version)
- [os\_minor\_version](TestResult.md#os_minor_version)
- [supported](TestResult.md#supported)
- [system\_id](TestResult.md#system_id)
- [tags](TestResult.md#tags)
- [type](TestResult.md#type)

## Properties

### compliant

• `Optional` **compliant**: `any`

Whether the Test Result is compliant or not within a given Report.

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1264](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1264)

___

### display\_name

• `Optional` **display\_name**: `any`

Display Name of the System

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1228](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1228)

___

### failed\_rule\_count

• `Optional` **failed\_rule\_count**: `any`

Number of failed rules in the Test Result

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1276](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1276)

___

### groups

• `Optional` **groups**: `any`

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1234](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1234)

___

### id

• `Optional` **id**: `any`

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1216](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1216)

___

### last\_scanned

• `Optional` **last\_scanned**: `any`

The date when the System has been reported a Test Result for the last time.

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1282](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1282)

___

### os\_major\_version

• `Optional` **os\_major\_version**: `any`

Major version of the Operating System

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1252](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1252)

___

### os\_minor\_version

• `Optional` **os\_minor\_version**: `any`

Minor version of the Operating System

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1258](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1258)

___

### supported

• `Optional` **supported**: `any`

Whether the System is supported or not by a Profile within a given Policy.

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1270](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1270)

___

### system\_id

• `Optional` **system\_id**: `any`

UUID of the underlying System

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1246](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1246)

___

### tags

• `Optional` **tags**: `any`

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1240](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1240)

___

### type

• `Optional` **type**: ``"test_result"``

**`Memberof`**

TestResult

#### Defined in

[types/index.ts:1222](https://github.com/RedHatInsights/javascript-clients/blob/main/packages/compliance/types/index.ts#L1222)
