/* tslint:disable */
/* eslint-disable */
import type { AxiosStatic } from 'axios'
import { APIFactory } from '@redhat-cloud-services/javascript-clients-shared/utils';
import { ApiConfig } from '@redhat-cloud-services/javascript-clients-shared/common'
import {
{{>endpointImports}}  } from './index';

const endpointList = {
  {{>endpointList}}
};

type endpointReturnTypes = {
  {{>endpointTypes}}
};

export const {{{clientName}}} = (BASE_PATH: string, instance?: ApiConfig) => {
  return APIFactory<typeof endpointList, endpointReturnTypes>(BASE_PATH, endpointList, instance);
}

export default {{{clientName}}};
