// This is a sample supporting file mustache template.

{{#apiInfo.apis}}
{{#operations}}
{{#operation}}
export { default as {{nickname}} } from './{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}'

{{/operation}}

// end of operations block
{{/operations}}
{{/apiInfo.apis}}
