{{#apiInfo.apis}}
{{#operations}}
{{#operation}}
export { default as {{nickname}}, type {{operationIdCamelCase}}ReturnType } from './{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}'

{{/operation}}
{{/operations}}
{{/apiInfo.apis}}

export * from './types'
