node_modules
packages/**/git_push.sh
packages/**/dist
packages/**/package-lock.json
target/*
!target/typescript-axios-webpack-module-federation-openapi-generator-*
target/typescript-axios-webpack-module-federation-openapi-generator-*-tests*
