name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      # cache node modules for all jobs to use
      - uses: './.github/actions/node-cache'
      # cache cypress runner
      - uses: './.github/actions/cypress-cache'
      - name: Install deps
        run: npm ci
  lint:
    needs: [install]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: './.github/actions/lint'
  test:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: './.github/actions/test-unit'
  build:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - uses: './.github/actions/node-cache'
      - name: Install deps
        run: npm i
      - name: Build affected
        run: npx nx affected --base=master -t build
  release:
    runs-on: ubuntu-latest
    needs: [install, lint, test, build]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ssh-key: ${{ secrets.BOT_SSH_KEY}}
      - uses: './.github/actions/release'
        with:
          gh_token: ${{ secrets.BOT_GH_TOKEN }}
          npm_token: ${{ secrets.NPM_TOKEN }}
          gh_name: ${{ secrets.GH_NAME }}
          gh_email: ${{ secrets.GH_EMAIL }}
